{% extends 'base_testing_myl.html'  %}
{% block head  %}
   <title>Project Demo</title>
{% endblock %}

{% block body  %}
        <h1> AC295 Project Demo  </h1>
        Social Distancing Input (left) Mask Detection Input (right)
        <form action="/" method="POST">
            <input type="text" name="socialdistancing" id="data_sd">
            <input type="text" name="maskdetection" id="data_md">
            <input type="submit" value="Go Get it!">
        </form>

<html>







{% endblock %}